:root {
  /* blue */
  --blue-100: 239 252 254;
  --blue-200: 216 246 251;
  --blue-300: 244 253 255;
  --blue-400: 166 235 245;
  --blue-500: 100 220 238;

  /* base */
  --white: 255 255 255;
  --black: 24 55 82;

  /* state */
  --green: 70 210 75;
  --red: 255 122 122;
}
