:root {
  /* blue */
  --blue-100: 239 252 254;
  --blue-200: 219 247 252;
  --blue-300: 242 253 255;
  --blue-400: 164 235 245;
  --blue-500: 103 219 238;

  /* base */
  --white: 255 255 255;
  --black: 23 55 80;

  /* state */
  --green: 70 210 75;
  --red: 255 122 122;
}
