.search-filter {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 1000px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 20px 20px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    "item1 item1 item1 item1 item1 item1"
    "item2 item2 item3 item3 item4 item4"
    "item5 item5 item5 item6 item6 item6";
  gap: 20px;
}
.filter-title {
  margin: 0;
}

.filter-input {
  flex: 1;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0px 10px;
}

.filter-item {
  height: 40px;
  display: flex;
  gap: 50px;
  align-items: center;
}
.item1 {
  grid-area: item1;
}
.item2 {
  grid-area: item2;
}
.item3 {
  grid-area: item3;
  gap: 20px;
}
.item4 {
  grid-area: item4;
  gap: 20px;
}
.item5 {
  grid-area: item5;
}
.item6 {
  grid-area: item6;
}

.filter-button {
  height: 42px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 8px;
}
