@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html,
body {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

#root {
  width: 100%;
  min-height: 100dvh;
  background-color: #eeeeee;
  transition: background-color 0.2s ease;
}

.dark #root {
  background-color: #111827;
}

button {
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}
